@{ 
    ViewData["Title"] = "Home Page";
}
<body id="homeBody">
    <div id="homeContent">
        <h1 id="IndexTitle">EFFORT CURRICULUM</h1>
        <h2>
            Sua plataforma de currículos online.
        </h2>
        <img />


        <div class="buttons-container">
            <a class="cadastre" href="/home/novoCurriculo">Crie seu currículo já</a>
            <a class="sobre" href="/home/Sobre">Saiba Mais</a>
        </div>

        <p class="total-connections">
            Total de 130.000 currículos cadastrados em nosso sistema
        </p>

    </div>
    
</body>