
@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sobre</h1>
<div>
    <h2>Participantes:</h2>
    <div>
        <img />
        <h2>Michael Matheus de Silva Oliveira</h2>
    </div>

    <div>
        <img />
        <h2>Clarice Yamaoka Bravo</h2>
    </div>

    <div>
        <img />
        <h2>Gustavo Santos Guimarães</h2>
    </div>
</div>

