@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sobre</h1>
<div class="col-md-12" id="tela-sobre">
    <h2>Participantes:</h2>
    <div class="col-md-4">
        <h2>Michael Matheus de Silva Oliveira</h2>
        <img src="~/img/michael.jpg" class="img-responsive">
        <h3> RA: 082180038</h3>

    </div>

    <div class="col-md-4">
        <h2>Clarice Yamaoka Bravo</h2>
        <img src="~/img/clarice.jpeg" class="img-responsive">
        <h3> RA: 082180038</h3>
    </div>

    <div class="col-md-4">
        <h2>Gustavo Santos Guimarães</h2>
        <img src="~/img/gustavo.png" class="img-responsive">
        <h3> RA: 082180038</h3>
    </div>
</div>

<p>
    Este trabalho compõe a matéria de Linguagem de Programação I
</p>

